<td class="date">{{moment expense.createdAt 'LL'}}</td>
<td>{{expense.description}}</td>
<td>{{expense.paidBy.name}}</td>
<td>{{participantNames}}</td>
<td>Rs. {{expense.amount}}</td>
<td class="controls"><button class="delete btn btn-danger btn-xs pull-right" {{action 'deleteExpense'}}>Delete</button></td>