<td class="date">{{moment payment.createdAt 'LL'}}</td>
<td>{{payment.from.name}}</td>
<td>{{payment.to.name}}</td>
<td>Rs. {{roundedAmount}}</td>
<td class="controls"><button class="delete btn btn-danger btn-xs pull-right" {{action 'deletePayment'}}>Delete</button></td>